// lesshint-disable zeroUnit

@import './_variables';

.btn {
    border: 0;
    border-radius: @default-radius;
    cursor: pointer;
    padding: 5px 15px;
    text-decoration: none;

    &--primary {
        background-color: @button-background-primary;
        color: @button-color-primary;
        position: relative;
        top: 0;
        transition: box-shadow 300ms, top 300ms, background 300ms, opacity 300ms;

        &:hover,
        &:focus {
            background-color: lighten(@button-background-primary, 8);
        }

        &:active {
            box-shadow: none;
            top: 3px;
        }
    }


    &--big {
        box-shadow: 0 3px 0 0 @button-border-primary;
        box-sizing: border-box;
        display: block;
        font-size: @button-font-size-big;
        line-height: 30 / unit(@button-font-size-big);
        margin: auto;
        max-width: 350px;
        padding: 10px 30px;
        width: 100%;
    }

    &:disabled {
        background-color: lighten(@color-gray, 40);
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.8;
    }
}

@input-field-height: 40px;

.field {
    &-row {
        display: flex;
        margin-left: -6px;
        margin-right: -6px;

        + .btn {
            margin-top: 20px;
        }
    }

    &-column {
        flex: 1;
        margin: 0 3px 6px;
    }

    &-input {
        border: 0;
        border-radius: @default-radius;
        box-sizing: border-box;
        width: 100%;

        .page-banner & {
            font-size: 18px;
            line-height: 30 / 18;
            padding: 5px 15px;
        }
    }

    @media screen and (max-width: 600px) {
        &-row {
            display: block;
            margin: auto;
        }
    }
}
