// lesshint-disable zeroUnit

@import './_variables';

.page-frame {
    margin: auto;
    max-width: @page-width-max;
    padding: 0 15px;

    &--narrow {
        max-width: @page-width-narrow;
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;

    &__logo {
        img {
            height: 40px;
        }
    }

    @media screen and (max-width: 600px) {
        img {
            height: 30px;
        }
    }
}

.page-footer {
    background-color: @color-white-darken;
    font-size: 14px;
    margin-top: auto;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 380px;
    }
}

.logo-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    &--no-side-space {
        justify-content: space-between;
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        margin: auto auto 30px;
        max-width: 320px;
    }
}
