// lesshint-disable zeroUnit

@import './_variables';

.page-banner {
    background-image: url('/img/banner.jpg');
    background-position: center;
    background-size: cover;
    color: @color-white;
    padding-bottom: 44px;
    text-align: center;

    &__title {
        font-size: @page-title-font-size;
        font-style: italic;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__slogan {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 50px;
        margin-top: 0;
    }

    @media screen and (max-width: 600px) {
        &__title {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }
}

.features {
    color: @color-gray-light;
    display: flex;
    margin-bottom: 120px;

    &__block {
        margin: 0;
    }

    &__text {
        display: inline-block;
        max-width: 140px;
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px;

        &__block {
            align-items: center;
            display: flex;
            margin-bottom: 15px;
        }
    }
}
