// lesshint-disable zeroUnit

@import './_variables';

.results {
    background-color: @color-gray-darkest;
    border-radius: @default-radius;
    padding: 10px 10px 10px;
    text-align: center;

    &__table {
        border-collapse: collapse;
        font-size: 18px;
        table-layout: fixed;
        width: 100%;

        &-scroll {
            overflow: auto;
        }

        th {
            color: @color-gray;
            font-style: italic;
            padding-bottom: 20px;
            padding-top: 5px;
            text-transform: uppercase;

            &:first-child {
                width: 54px;
            }
        }

        td {
            background-image: linear-gradient(to top, @color-gray-darkest 0, @color-gray 40px);
            background-repeat: no-repeat;
            border-bottom: 2px solid @color-gray-darkest;
            box-sizing: border-box;
            height: 40px;
            line-height: 22px;
            padding: 8px;
            position: relative;

            &:first-child {
                border-bottom-left-radius: @default-radius * 2;
                border-top-left-radius: @default-radius * 2;
            }

            &:last-child {
                border-bottom-right-radius: @default-radius;
                border-top-right-radius: @default-radius;
            }
        }

        .sortable {
            cursor: pointer;
            user-select: none;
        }

        .right {
            text-align: right;
        }

        .results__place-column {
            text-align: left;

            .results__row-background {
                &::before {
                    // lesshint-disable-next-line maxCharPerLine
                    // lesshint-disable-next-line propertyOrdering, spaceBetweenParens, spaceAroundComma
                    background-image: linear-gradient(
                        (-15deg + 180),
                        @color-gray-darker 0%,
                        @color-gray 100%
                    );
                    bottom: 0;
                    height: auto;
                    transform: rotate(12deg) scale(1.4) translateX(-5%);
                    width: 45px;
                }
            }
        }

        .results__place-row--best {
            .results__row-background {
                &::before {
                    // lesshint-disable-next-line maxCharPerLine
                    // lesshint-disable-next-line propertyOrdering, spaceBetweenParens, spaceAroundComma
                    background-image: linear-gradient(
                        (-15deg + 180),
                        @color-gray 25%,
                        darken(@color-orange, 15) 70%
                    );
                }
            }

            .results__place-column {
                + td {
                    color: @color-orange;
                }
            }
        }
    }

    &__place-text {
        font-style: italic;
        padding-left: 5px;
        position: relative;
    }

    &__row-background {
        border-radius: @default-radius;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;

        &::before {
            content: '';
            // lesshint-disable-next-line propertyOrdering, spaceBetweenParens, spaceAroundComma
            background-image: linear-gradient(
                to top,
                @color-gray-darker 0%,
                @color-gray 100%
            );
            border-bottom: 2px solid @color-gray-darkest;
            border-radius: @default-radius;
            box-sizing: border-box;
            height: 40px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
    }

    .btn {
        margin-top: -10px;
        transform: translateY(50%);
    }

    .flag-icon {
        width: 14px;
    }

    @media screen and (max-width: 600px) {
        &__table {
            width: 500px;
        }
    }
}
