@color-orange: #ff8000;
@color-orange-dark: #ca3e00;
@color-green: #009900;
@color-white: #ffffff;
@color-white-darken: #f6f8fa;
@color-gray-light: #a4a7be;
@color-gray: #3a4252;
@color-gray-darker: #1e2232;
@color-gray-darkest: #121623;

@color-primary: @color-orange;
@color-bg-dark: @color-gray;

@button-background-primary: @color-orange;
@button-border-primary: @color-orange-dark;
@button-color-primary: @color-white;

@button-height-big: 50px;
@button-font-size-big: 24px;

@body-font-family: 'Roboto', Helvetica, sans-serif;
@body-font-size: 16px;
@page-width-max: 1200px;
@page-width-narrow: 600px;

@page-title-font-size: 80px;

@heading-2-font-size: 32px;

@text-color: #373737;
@text-color-on-dark: @color-white;

@default-radius: 3px;
