// lesshint-disable zeroUnit

@import (inline) '../../node_modules/normalize.css/normalize.css';
@import (inline) '../../node_modules/flag-icon-css/css/flag-icon.css';
@import './_variables';
@import './_inputs_and_buttons';
@import './_layout';
@import './_page-banner';
@import './_result-table';

html {
    height: 100%;
}

a {
    color: @color-primary;
}

hr {
    border-color: #999999;
    border-style: dotted;
    border-width: 0 0 1px;
    margin-bottom: 30px;
}

body {
    color: @text-color;
    display: flex;
    flex-direction: column;
    font-family: @body-font-family;
    font-size: @body-font-size;
    min-height: 100%;
}

.page-section {
    padding-bottom: 50px;
    padding-top: 40px;

    &--dark {
        background-color: @color-bg-dark;
        color: @color-white;
    }

    &__title {
        font-style: italic;
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
    }
}

.resp-container {
    background-color: @color-bg-dark;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.resp-iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.success-message {
    background-color: @color-green;
    border-radius: @default-radius;
    display: inline-block;
    font-size: 32px;
    font-style: italic;
    padding: 15px 30px;
}
